@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

@font-face {
    font-family: 'Microgramma D Extended Bold';
    src: url('../assets/Fonts/microgramma_d_extended_bold-webfont.woff2') format('woff2'),
         url('../assets/Fonts/microgramma_d_extended_bold-webfont.woff') format('woff'),
         url('../assets/Fonts/Microgramma D Extended Bold.otf') format('opentype');
  }

.firstSectionAbout {
    background-image: url(../assets/Images/FondoConcreto.png);
    padding: 59px 62px 59px 62px;
    background-size: cover;
    background-repeat: no-repeat; 
}

.aboutMe {
    color: #fff;
    font-family: 'Microgramma D Extended Bold', sans-serif;
    font-size: 46.68px;

}

.textAbout {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 20.68px;
    text-align: justify;
    margin-top: 8px;
}

@media (max-width:840px) {
    .aboutMe {
        font-size: 42.68px;
    
    }
    
    .textAbout {
        font-size: 17.68px;
    }
}

@media (max-width:650px) {
    .aboutMe {
        font-size: 36.68px;
    
    }
    
    .textAbout {
        font-size: 14.68px;
    }
}

@media (max-width:580px) {
    .firstSectionAbout {
        padding: 38px 29px 38px 29px;
    }

    .aboutMe {
        font-size: 30.68px;
    
    }
    
    .textAbout {
        font-size: 11.68px;
    }
}

@media (max-width:440px) {
    .firstSectionAbout {
        padding: 29px;
    }

    .aboutMe {
        font-size: 21.68px;
    
    }
    
    .textAbout {
        font-size: 9.68px;
    }
}

@media (max-width:440px) {
    .aboutMe {
        font-size: 18.68px;
    }
}




.secondSectionAbout {
    background-image: url('../assets/Images/Fondo.png');
}

.containerVisionMission {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #2947A9;
    padding: 108px;
}

.vision {
    margin-right: 50px;
}

.titleVision,
.titleMission {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Microgramma D Extended Bold', sans-serif;
    font-size: 46px;
    text-align: center;
}

.textVision,
.textMission {
    display: flex;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 30.8rem;
    text-align: justify;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    margin-top: 42px;
}

@media (max-width:1200px) {
    .containerVisionMission {
        padding: 50px;
    }

    .titleVision,
    .titleMission {
    font-size: 36px;
    }

    .textVision,
    .textMission {
    font-size: 24px;
    }
}

@media (max-width:750px) {

    .titleVision,
    .titleMission {
    font-size: 31px;
    }

    .textVision,
    .textMission {
    font-size: 19px;
    }
}

@media (max-width:580px) {
    .containerVisionMission {
        padding: 29px;
    }

    .titleVision,
    .titleMission {
    font-size: 20px;
    }

    .textVision,
    .textMission {
    font-size: 14px;
    }
}


.thirdSectionAbout {
    background-image: url(/src/assets/Images/Fondo.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    gap: 84px;
}

.titleThirdSectionAbout {
    color: #2947A9;
    font-family: 'Microgramma D Extended Bold', sans-serif;
    font-size: 23.68px;
    text-align: center;
    width: 74%;
}

.containerImagesAbout {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    color: #2947A9;
    width: 40%;
}

.containerButtons {
    background: rgba(255, 255, 255, 0.64);
    box-shadow: 21px 0px 27.07409px -1.46346px rgba(17, 24, 39, 0.05);
    display: flex;
    flex-direction: column;
    max-width: 25.4rem;
    height: 14.7rem;
    padding: 15.635px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    width: 100%;
}

.button1,
.button2 {
    background-color: #2947A9;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 20.17px;
    display: flex;
    width: 304px;
    padding: 11.708px 14.635px;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4.46px;
    border: none;
    text-decoration: none;
}

.button1:hover, .button2:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.70);
  }

.button1:active, .button2:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.30);
  }

@media (max-width: 1400px) {
    .imgAbout {
    width: 31rem;
    display: block;
    margin: 0 auto;
    }
}


@media (max-width: 1200px) {
    .titleThirdSectionAbout {
        font-size: 23.68px;
    }

    .imgRedesAP, 
    .imgElectricalInstallations, 
    .imgCivilWorks {
        height: 10.4rem;
    }

    .textRedesAP, 
    .textElectricalInstallations, 
    .textCivilWorks {
        font-size: 21.68px;
        margin-left: 31px;
    }

    .button1, .button2 {
        font-size: 16.17px;
        width: 235px;
    }

    .containerButtons {
        max-width: 20.4rem;
    }

}

@media (max-width: 1100px) {
    .imgAbout {
        width: 27rem;
    }
}

@media (max-width: 930px) {
    .imgAbout {
        width: 21rem;
    }
}

@media (max-width: 850px) {
    .titleThirdSectionAbout {
        font-size: 17.68px;
    }

    .button1, .button2 {
        font-size: 11.17px;
        width: 172px;
    }

    .containerButtons {
        max-width: 15.4rem;
        height: 11.7rem;
        margin: 18px;
    }

}

@media (max-width: 760px) {
    .imgAbout {
        width: 25rem;
    }

    .thirdSectionAbout {
        gap: 28px;
        flex-direction: column;
        padding-bottom: 5px;
    }
}

@media (max-width: 640px) {
    .containerImagesAbout {
        width: 88%;
    }
    
}


@media (max-width: 550px) {

    .titleThirdSectionAbout {
        font-size: 10.68px;
    }

    .imgRedesAP, 
    .imgElectricalInstallations, 
    .imgCivilWorks {
        height: 6.4rem;
        max-width: 7.8rem;
    }

    .textRedesAP, 
    .textElectricalInstallations, 
    .textCivilWorks {
        font-size: 12.68px;
    }

    .containerButtons {
        max-width: 12.4rem;
        height: 9.7rem;
    }

    .button1, .button2 {
        font-size: 9.17px;
        width: 142px;
    }
}

@media (max-width:460px) {
    .imgAbout {
        width: 17rem;
    }
}