@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

@font-face {
    font-family: 'Microgramma D Extended Bold';
    src: url('../assets/Fonts/microgramma_d_extended_bold-webfont.woff2') format('woff2'),
         url('../assets/Fonts/microgramma_d_extended_bold-webfont.woff') format('woff'),
         url('../assets/Fonts/Microgramma D Extended Bold.otf') format('opentype');
  }


* {
    margin: 0;
  }

.section1 {
    background-image: url(../assets/Images/FondoConcreto.png);
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem 6rem 2rem 6rem;
    align-items: center;
}

.infoSection1 {
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainTitle {
    font-family: 'Microgramma D Extended Bold', sans-serif;
    font-size: 40px;
}

.subtitle {
    font-family: 'Work Sans', sans-serif;
    max-width: 53rem;
    font-size: 25px;
  
}

.containerExperience {
    background-color: #fff;
    max-width: 248px;
    height: 253px;
    margin: 0 auto;
    border: 2px solid #2361D1;
}

.experience {
    color: #2361D1;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    margin-left: 36px;
    padding-top: 20px;
}

.descriptionExperience {
    color: #2361D1;
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
    margin: 15px 36px 0 36px;
    font-size: 11px;
}

.contact{
    background-color: #2361D1;
    color:#fff;
    border-radius: 1.463px;
    width: 128px;
    height: 34px;
    font-family: 'Work Sans', sans-serif;
    font-size: 13.171px;
    margin: 12px 0 0 36px;
    border: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.viewMore {
    background-color: #2947A9;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 320px;
    height: 47px;
    font-size: 23px;
    border-radius: 2px;
    border: none;
    align-items: center;
    text-decoration: none;
}

.link-button {
    text-decoration: none;
  }

.contact:hover, .viewMore:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.70);
  }

.contact:active, .viewMore:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.30);
  }

.Mano {
    width: 123px;
    height: 147px;
    margin-top: -66px;
    margin-left: 121px;
}

.titleProductsHome {
    color: #2947A9;
    text-align: center;
    font-family: 'Microgramma D Extended Bold', sans-serif;
    padding-top: 36px;
    font-size: 45px;
}

@media (max-width:1650px) {
    .contact {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

    .contact:hover {
        box-shadow: none;
      }

    .contact:active {
        box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width:1445px) {
    .mainTitle {
        font-size: 31px;
    }

    .experience {
        font-size: 25px;
    }
    
    .descriptionExperience {
        font-size: 11px;
    }
    
    .contact {
        width: 128px;
        height: 34px;
        font-size: 13.171px;
        margin: 12px 0 0 36px;
    }
}

@media (max-width:1135px) {
    .mainTitle {
        font-size: 32px;
        margin-right: 5px;
    }
    
    .subtitle {
        font-size: 24px;
        max-width: 40rem;
    } 
    
    .containerExperience {
        max-width: 223px;
    }

    .experience {
        font-size: 22px;
    }
    
    .descriptionExperience {
        font-size: 10px;
        width: 151px;
    }
    
    .contact {
        width: 128px;
        height: 34px;
        font-size: 13.171px;
        margin: 12px 0 0 36px;
    }
    
    .section1 {
        padding: 2rem 3rem 2rem 3rem;
    } 
}

@media (max-width:960px) {
    .mainTitle {
        font-size: 28px;
    }

    .subtitle {
        font-size: 20px;
    } 

    .containerExperience {
        margin-left: 0;
        margin-top: 15px;
    }

    .section1 {
        flex-direction: column;
        align-items: flex-start;
    }
} 


@media (max-width:569px) {
    .mainTitle {
        font-size: 25px;
    }

    .subtitle {
        font-size: 18px;
    } 
    
    .containerExperience {
        max-width: 148px;
        height: 175px;
    }

    .experience {
        font-size: 14px;
        margin-left: 22px;
        padding-top: 13px;
    }
    
    .descriptionExperience{
        font-size: 7px;
        width: 105px;
        margin: -3px 14px 0 22px;
    }

    .contact {
        width: 87px;
        height: 31px;
        font-size: 10.171px;
        margin-left: 22px;
    }    

    .Mano {
        width: 96px;
        height: 122px;
        margin-top: -58px;
        margin-left: 74px;
    }
}

@media (max-width:488px) {
    .section1 {
        padding: 2rem 2rem 2rem 2rem;
    }

    .viewMore {
        width: 193px;
        height: 33px;
        font-size: 17px;
    }
}



