@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

@font-face {
    font-family: 'Microgramma D Extended Bold';
    src: url('../assets/Fonts/microgramma_d_extended_bold-webfont.woff2') format('woff2'),
         url('../assets/Fonts/microgramma_d_extended_bold-webfont.woff') format('woff'),
         url('../assets/Fonts/Microgramma D Extended Bold.otf') format('opentype');
  }


* {
    margin: 0;
  }

.section1 {
    color: #fff;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    padding: 2rem 6rem 2rem 6rem;
    align-items: center;
    position: relative;
    overflow:hidden;
    margin-top: -19px;
}

.carouselHome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.carouselHome .carousel-control-prev,
.carouselHome .carousel-control-next {
    width: 109px;
}

.infoSection1 {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: left;
  
}

.mainTitle {
    font-family: 'Microgramma D Extended Bold', sans-serif;
    font-size: 30px;
}

.subtitle {
    font-family: 'Work Sans', sans-serif;
    max-width: 53rem;
    font-size: 20px;
  
}

.contact{
    background-color: #2361D1;
    color:#fff;
    border-radius: 1.463px;
    width: 128px;
    height: 34px;
    font-family: 'Work Sans', sans-serif;
    font-size: 13.171px;
    margin-top: 15px;
    border: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.viewMore {
    background-color: #2947A9;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 320px;
    height: 47px;
    font-size: 23px;
    border-radius: 2px;
    border: none;
    align-items: center;
    text-decoration: none;
}

.link-button {
    text-decoration: none;
  }

.contact:hover, .viewMore:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.70);
  }

.contact:active, .viewMore:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.30);
  }

.Mano {
    position: absolute;
    width: 123px;
    height: 147px;
    margin-top: -10px;
    left: 86px;
}

.titleProductsHome {
    color: #2947A9;
    text-align: center;
    font-family: 'Microgramma D Extended Bold', sans-serif;
    padding-top: 36px;
    font-size: 45px;
}

@media screen and (min-width: 1530px) {
    .responsiveVideo {
        width: 100%;
    }
  }

@media (max-width:1650px) {
    .contact {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

    .contact:hover {
        box-shadow: none;
      }

    .contact:active {
        box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width:1535px) {
    .section1 {
        height: 26rem;
    }

    .mainTitle {
        font-size: 25px;
    }

    .subtitle {
        font-size: 17px;
    }

}

@media (max-width:1445px) {
  

    .experience {
        font-size: 25px;
    }
    
    .descriptionExperience {
        font-size: 11px;
    }
    
}

@media (max-width:1305px) {
    .section1 {
        height: 22rem;
    }

    .mainTitle {
        font-size: 19px;
    }

    .subtitle {
        font-size: 12px;
    }

    .Mano {
        width: 101px;
        height: 128px;
    }
}

@media (max-width:1050px) {

    .mainTitle {
        font-size: 16px;
    }

    .subtitle {
        font-size: 10.5px;
    }

    .Mano {
        width: 89px;
        height: 118px;
    }

    .infoSection1 {
        left: 31%;
    }
}

@media (max-width:1135px) {

    .section1 {
        height: 19rem;
    }
    
}

@media (max-width:945px) {

    .section1 {
        height: 18rem;
    }

    .contact {
        width: 110px;
        height: 29px;
        font-size: 12.171px;
    }

    .Mano {
        left: 81px;
    }

    .responsiveVideo {
        width: 63rem;
    }

}

@media (max-width:902px) {
    .section1 {
        height: 15.5rem;
    }
}

@media (max-width:780px) {
    
    .infoSection1 {
        left: 35%;
    }

    .contact {
        width: 88px;
        height: 23px;
        font-size: 10.171px;
    }

    .Mano {
        left: 67px;
        width: 66px;
        height: 91px;
        margin-top: -4px;
    }

    .responsiveVideo {
        width: 54rem;
    }
}

@media (max-width:680px) {

    .carouselHome .carousel-control-prev, .carouselHome .carousel-control-next {
        width: 68px;
    }
    
}

@media (max-width:580px) {

    .infoSection1 {
        left: 40%;
    }

    .mainTitle {
        font-size: 13px;
    }

    .contact {
        margin-top: 5px;
        width: 76px;
        height: 21px;
        font-size: 9.171px;
    }

    .Mano {
        width: 47px;
        height: 65px;
        left: 60px;
    }

}

@media (max-width:478px) {
    .infoSection1 {
        left: 44%;
        top: 48%;
    }

    .mainTitle {
        font-size: 11px;
    }

    .subtitle {
        font-size: 9.5px;
    }

    .responsiveVideo {
        width: 36rem;
    }

    .section1 {
        height: 11.5rem;
    }
}




