@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

@font-face {
    font-family: 'Microgramma D Extended Bold';
    src: url('../assets/Fonts/microgramma_d_extended_bold-webfont.woff2') format('woff2'),
         url('../assets/Fonts/microgramma_d_extended_bold-webfont.woff') format('woff'),
         url('../assets/Fonts/Microgramma D Extended Bold.otf') format('opentype');
  }


* {
    margin: 0;
  }

.section1 {
    background-color: #1D64CBCF;
    color: #fff;
    min-height: 27rem;
    width: 100%;
}

.infoSection1 {
    max-width: 85%;
    display: block;
    margin: 0 auto;
}

.mainTitle {
    font-family: 'Microgramma D Extended Bold', sans-serif;
    text-align: center;
    padding-top: 40px;
    font-size: 39.68px;
    margin: 0 5px 0 5px;
}

.subtitle {
    font-family: 'Microgramma D Extended Bold', sans-serif;
    max-width: 53rem;
    font-size: 40.68px;
    margin: 50px 0 0 140px;
}

.description {
    font-family: 'Work Sans', sans-serif;
    max-width: 52rem;
    text-align: justify;
    font-size: 15.68px;
    font-weight: 400;
    margin: 10px 0 40px 140px;
}

.containerExperience {
    background-color: #fff;
    max-width: 248px;
    height: 253px;
    margin-left: auto;
    margin-top: -221px;
    margin-right: 140px;
    border: 2px solid #2361D1;
}

.experience {
    color: #2361D1;
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    margin-left: 36px;
    padding-top: 20px;
}

.descriptionExperience {
    color: #2361D1;
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
    margin: 15px 36px 0 36px;
    font-size: 11px;
}

.contact{
    background-color: #2361D1;
    color:#fff;
    border-radius: 1.463px;
    width: 128px;
    height: 34px;
    font-family: 'Work Sans', sans-serif;
    font-size: 13.171px;
    margin: 12px 0 0 36px;
    border: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.viewMore {
    background-color: #2947A9;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 320px;
    height: 47px;
    font-size: 23px;
    border-radius: 2px;
    border: none;
    align-items: center;
    text-decoration: none;
}

.link-button {
    text-decoration: none;
  }

.contact:hover, .viewMore:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.70);
  }

.contact:active, .viewMore:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.30);
  }

.Mano {
    width: 123px;
    height: 147px;
    margin-top: -66px;
    margin-left: 121px;
}

.titleProductsHome {
    color: #2947A9;
    text-align: center;
    font-family: 'Microgramma D Extended Bold', sans-serif;
    padding-top: 36px;
    font-size: 45px;
}

@media (max-width:1650px) {
   .subtitle, .description {
        margin-left: 64px;
    }
    
    .containerExperience {
        margin-right: 64px;
    }

    .contact {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

    .contact:hover {
        box-shadow: none;
      }

    .contact:active {
        box-shadow: inset 3px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@media (max-width:1445px) {
    .mainTitle {
        font-size: 31px;
    }
    
    .subtitle {
        margin-left: 95px;
        font-size: 35px;
        max-width: 42rem;
    } 
    
    .description {
        margin-left: 95px;
        font-size: 10px;
        max-width: 30rem;
    }
    
    .containerExperience {
        margin-right: 95px;
        margin-top: -236px;
        max-width: 270px;
        height: 245px;
    }

    .experience {
        font-size: 25px;
    }
    
    .descriptionExperience {
        font-size: 11px;
    }
    
    .contact {
        width: 128px;
        height: 34px;
        font-size: 13.171px;
        margin: 12px 0 0 36px;
    }

    .section1 {
        min-height: 26rem;
    }
}

@media (max-width:1135px) {
    .mainTitle {
        font-size: 29px;
    }
    
    .subtitle {
        margin-left: 48px;
        font-size: 32px;
        max-width: 40rem;
    } 
    
    .description {
        margin-left: 48px;
        font-size: 10px;
    }
    
    .containerExperience {
        margin-right: 48px;
        max-width: 223px;
    }

    .experience {
        font-size: 22px;
    }
    
    .descriptionExperience {
        font-size: 10px;
        width: 151px;
    }
    
    .contact {
        width: 128px;
        height: 34px;
        font-size: 13.171px;
        margin: 12px 0 0 36px;
    }
    
    .section1 {
        min-height: 25rem;
    }
}

@media (max-width:960px) {
    .mainTitle {
        font-size: 25px;
    }

    .subtitle {
        font-size: 24px;
        max-width: 34rem;
        margin-top: 18px;
        margin-right: 30px;
    } 
    
   .description {
        max-width: 31rem;
        margin-right: 48px;
    }

    .containerExperience {
        margin-top: -15px;
        float: left;
        margin-left: 48px;
    }

    .section1 {
        min-height: 32rem;
    }
} 


@media (max-width:569px) {
    .mainTitle {
        font-size: 20px;
        padding-top: 31px;
    }

    .subtitle {
        font-size: 20px;
    } 
    
    .containerExperience {
        margin-top: -15px;
        float: left;
        margin-left: 48px;
        max-width: 148px;
        height: 175px;
    }

    .experience {
        font-size: 14px;
        margin-left: 22px;
        padding-top: 13px;
    }
    
    .descriptionExperience{
        font-size: 7px;
        width: 105px;
        margin: -3px 14px 0 22px;
    }

    .contact {
        width: 87px;
        height: 31px;
        font-size: 10.171px;
        margin-left: 22px;
    }    

    .Mano {
        width: 96px;
        height: 122px;
        margin-top: -58px;
        margin-left: 74px;
    }

    .section1 {
        min-height: 27rem;
    }
}

@media (max-width:488px) {
    .subtitle, .description {
        margin-left: 22px;
        margin-right: 22px;
    } 

    .description {
        max-width: 17rem;
    }
    
    .containerExperience {
        margin-left: 22px;
    }

    .section1 {
        min-height: 27rem;
    }
}

@media (max-width:415px) {
    .section1 {
        min-height: 27rem;
    }

    .viewMore {
        width: 193px;
    }

    .titleProductsHome {
        padding-top: 75px;
    }
}

@media (max-width:374px) {

    .titleProductsHome {
        padding-top: 75px;
    }
}

@media (max-width:328px) {

    .titleProductsHome {
        padding-top: 105px;
    }
}


